#main {
  background-color: var(--color-gris-tecnico);
  padding: 2.5vmax;
  max-width: 1200px;
  margin: auto;
}
.contenedor {
  border: 2px solid #000;
  margin: 2.5vmax 0;
  padding: 10px;
  background-color: var(--color-blanco-tecnico);
  height: auto;
}
.item {
  /* width: 100px; */
  height: 100px;
  text-align: center;
  line-height: 100px;

  border: 2px solid #000;
  padding: 20px;
  /* margin: 5px; */
  background-color: #3498db;
  color: white;
}
/**** flex box ****/
.contenedor-flex {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 5px;
  /*flex-flow: row wrap;*/
}
.item-flex {
  /*   flex-basis: auto;
  flex-grow: 0;
  flex-shrink: 1; */
  transition: all 0.4s ease-in-out;
  flex: 0 0 auto;
}
.contenedor .item-flex:nth-child(1) {
  flex-grow: 1;
  flex-shrink: 1;
}
.contenedor .item-flex:nth-child(2) {
  flex-grow: 2;
  flex-shrink: 1;
}
.contenedor .item-flex:nth-child(3) {
  flex-grow: 0;
  flex-shrink: 1;
}
.contenedor .item-flex:nth-child(4) {
  flex-grow: 3;
  flex-shrink: 5;
}
.contenedor .item-flex:hover {
  background-color: #b92989;
  flex-grow: 5;
  flex-shrink: 0;
}

/**** css grid ****/
.contenedor-grid {
  display: grid;
  /* se define la cuadricula */
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: 1fr 1.5fr 0.5fr;
  /* grid-template-columns: repeat(3, 1fr); */
  grid-template-areas:
    "header1 header2 header3"
    "body1 body2 body3"
    "footer1 footer2 footer3";

  /* abreviatura */
  /*   grid-template: repeat(3, calc(100% / 3)) / 1fr 1.5fr 0.5fr; */

  /**/
  gap: 10px;
}
.item-grid:nth-child(1) {
  grid-area: header1;
  grid-column: header1 / header3;
}
.item-grid:nth-child(2) {
  grid-area: footer3;
}
.item-grid:nth-child(3) {
  grid-area: footer1;
}
.item-grid:nth-child(4) {
  grid-area: body2;
}
.item-grid:nth-child(5) {
  grid-area: body3;
}
.item-grid:nth-child(6) {
  grid-area: footer2;
}
.item-grid:nth-child(7) {
  grid-area: footer3;
}
.item-grid:nth-child(8) {
  grid-area: body1;
  grid-row: body1 / footer1;
  background-color: rebeccapurple;
}
