/*
.inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

.source-sans-3 {
  font-family: "Source Sans 3", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

.jetbrains-mono {
  font-family: "JetBrains Mono", monospace;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
  */
h1,
h2,
h3,
h4 {
  font-family: "Inter", sans-serif;
}

body,
p,
h5,
h6,
code,
pre {
  font-family: "Source Sans 3", sans-serif;
}

code {
  font-family: "JetBrains Mono", monospace;
}

/* Ajuste menus nav */
ul[role="menubar"] {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  flex-direction: column;
  justify-content: space-between;
}
li[role="menuitem"] {
  flex: 1 1 100%;
}
li[role="menuitem"] > a {
  width: 100%;
  text-align: center;
}

@media only screen and (min-width: 48rem) {
  ul[role="menubar"] {
    flex-direction: row;
  }
  li[role="menuitem"] {
    flex-basis: calc(((100% / 4) * 2) - 1rem);
  }
}
@media only screen and (min-width: 64rem) {
  li[role="menuitem"] {
    flex-basis: calc((100% / 4) * 1);
  }
}
