/*
.inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

.source-sans-3 {
  font-family: "Source Sans 3", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

.jetbrains-mono {
  font-family: "JetBrains Mono", monospace;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
  */

@import "tailwindcss";

@theme {
  --color-negro-carbon: #0e0e11;
  --color-gris-antracita: #1c1e22;
  --color-gris-acero: #3a3d42;
  --color-gris-tecnico: #b5b8be;
  --color-verde-criptico: #3aff7a;
  --color-blanco-tecnico: #f2f3f5;
}

html {
  font-size: 14px;
}

h1,
h2,
h3 {
  font-family: "Inter", sans-serif;
}

h4,
h5,
h6,
p,
a,
li,
label,
input,
textarea,
select {
  font-family: "Source Sans 3", sans-serif;
}
/* 
header.hero-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  margin: auto;
} */
