/*
.inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

.source-sans-3 {
  font-family: "Source Sans 3", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

.jetbrains-mono {
  font-family: "JetBrains Mono", monospace;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
  */


@import "tailwindcss";

@theme {
    --color-negro-carbon: #0E0E11;
    --color-gris-antracita: #1C1E22;
    --color-gris-acero: #3A3D42;
    --color-gris-tecnico: #B5B8BE;
    --color-verde-criptico: #3AFF7A;
    --color-blanco-tecnico: #F2F3F5;
}

html {
    font-size: 14px;
}

h1,
h2,
h3 {
    font-family: "Inter", sans-serif;
}

h4,
h5,
h6,
p,
a,
li,
label,
input,
textarea,
select {
    font-family: "Source Sans 3", sans-serif;
}

header.hero-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    margin: auto;
}