p {
    color: blue;
    font-size: 16px;
}
section article blockquote{
    color: red;
}

.citasromanas article {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}

.citasromanas article h4 {
    margin-bottom: 0;
}

.citasromanas article p{
    margin-top:0;
}


nav a {
    color: aquamarine;
}
/* Personalización por icono */
.fas {
    color: #3498db;
    font-size: 1.5em;
    margin-right: 5px;
}

.fa-home {
    color: green;
}

