        :root {
            --color-font: #333;
            --color-font-box: #7c7c7c;
        }

        html {
            font-size: 16px;
        }

        body {
            background-color: rgb(240, 240, 240);
        }

        a {
            color: var(--color-font);
            text-decoration: none;
            font-weight: 800;
        }

        nav {
            display: flex;
            justify-content: center;
            padding: 0.5rem;
            position: fixed;
            background-color: white;
            width: 100%;
            /* margin-top: -120px; */
            left: 0;
            width: 100%;
            top: 0;
            box-shadow: 0px 0px 20px #7c7c7c;
        }

        nav ul li {
            list-style: none;
            display: inline-block;
            padding: 1em 0.5em;
            border-bottom: 2px solid transparent;
        }

        nav ul li a {
            transition: all 0.25s ease-in-out;
            font-size: 1.10rem;
            text-transform: capitalize;
        }

        nav ul li:hover a {
            color: #198080;
        }

        nav ul li:hover {
            border-bottom: 2px solid #198080;
        }

        nav img {
            max-width: 50px;
        }

        main {
            padding: 2.5vmax;
        }

        h2,
        h3,
        h4,
        h5 {
            color: #166bb6;
        }

        h1.titulo {
            color: #ff1919;
            text-align: center;
            font-size: 2.5rem;
        }

        h3 {
            text-align: center;
            border-bottom: 2px solid #198080;
            max-width: 75%;
            margin: auto;
        }

        main {
            margin-top: 120px;
        }

        .apartado {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
        }

        .apartado h3 {
            flex-basis: 75%;
            flex-shrink: 0;
        }

        .content {
            flex-basis: 75%;
            color: var(--color-font-box);
            background-color: rgba(137, 43, 226, 0.075);
            padding: 0.8em;
            border-radius: 1em;
            margin: 15px auto 15px auto;
        }

        .content ul li {
            list-style: none;
            padding: 0.2em 0;
        }

        .apartado img {
            max-width: 100%;
            flex-basis: 50%;
            height: auto;
            border-radius: 20px;
            box-shadow: 5px 5px 10px #7c7c7c;
            margin: 15px auto 15px auto;
            transition: all 0.25s ease-in-out;
        }

        .apartado img:hover {
            filter: grayscale(0.5);
        }

        @media only screen and (min-width:768px) {
            .apartado p.content {
                flex-basis: 45%;
            }

            .apartado img {
                flex-basis: 90%;
            }
        }